@let h = habit();
@if (h) {
    <div class="wrapper">
        <habit-edit [habit]="habit()!"/>

        <div class="habit-stats">

            <habit-history-heatmap></habit-history-heatmap>
        </div>
    </div>

    Current: {{ h.currentCompletions }}

    @if (h.frequency !== "finite") {
        @for (stat of statistics(); track $index) {
            <br/>
            {{ stat.period }} - {{ stat.completions }}
        }
    } @else {
        WIP: Finite habits
    }


    @if (isWatchingLocation()) {
        <button mat-button (click)="stopLocationTracking()">
            <mat-icon>location_off</mat-icon>
            Stop Tracking
        </button>
    } @else {
        <button mat-button (click)="startLocationTracking()">
            <mat-icon>location_on</mat-icon>
            Start Tracking
        </button>
    }
} @else {
    no habit
}

<!--<tracking-map [habitId]="habit()?.id"></tracking-map>-->
