@let h = habit() ;
@if (h) {
    <div class="wrapper">
        <habit-edit [habit]="h"/>

        <div class="habit-stats">
            <habit-history-heatmap [habit]="h"></habit-history-heatmap>
            <habit-stats [habit]="h"/>

        </div>
    </div>


    @if (isWatchingLocation()) {
        <button mat-button (click)="stopLocationTracking()">
            <mat-icon>location_off</mat-icon>
            Stop Tracking
        </button>
    } @else {
        <button mat-button (click)="startLocationTracking()">
            <mat-icon>location_on</mat-icon>
            Start Tracking
        </button>
    }
} @else {
    no habit
}

<!--<tracking-map [habitId]="habit()?.id"></tracking-map>-->
