@let h = habit();
@if (h) {
    <p>habit-details works! {{ h.id }}</p>

    @if (isWatchingLocation()) {
        <button mat-button (click)="stopLocationTracking()">
            <mat-icon>location_off</mat-icon>
            Stop Tracking
        </button>
    } @else {
        <button mat-button (click)="startLocationTracking()">
            <mat-icon>location_on</mat-icon>
            Start Tracking
        </button>
    }
} @else {
    no habit
}

<tracking-map [habitId]="habit()?.id"></tracking-map>