@use "@angular/material" as mat;
@use "../../themes/m3-theme";

$theme: m3-theme.$light-theme;
@media (prefers-color-scheme: dark) {
    $theme: m3-theme.$dark-theme;
}


.sidenav-container {
    height: 100%;
}

.sidenav {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.fab-button {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;

    button {
        @include mat.fab-color($theme, $color-variant: tertiary);
        @include mat.fab-overrides($tokens: (
            container-elevation-shadow: 0
        ));
    }
}

mat-sidenav {
    @include mat.sidenav-overrides(
        $tokens: (
            container-background-color: #f2ecee,
            container-width: 88px
        )
    );
    
    .logo {
        @include mat.toolbar-overrides(
            $tokens: (
                container-background-color: transparent,
            )
        );
    }
}

mat-sidenav-container {
    @include mat.sidenav-overrides(
        $tokens: (
            content-background-color: #fefbff, // TODO dark
        )
    );
}

.nav-buttons {

}

//.sidenav .mat-toolbar {
//  background: inherit;
//}
//
//.mat-toolbar.mat-primary {
//  position: sticky;
//  top: 0;
//  z-index: 1;
//}
