<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false"
        class="sidenav"
        fixedInViewport
    >
        <mat-toolbar class="logo">Logo</mat-toolbar>

        <div (click)="openCreateHabitDialog()" class="fab-button" matTooltip="Create new habit">
            <button aria-label="Create new habit" mat-fab type="button">
                <mat-icon aria-label="new habit button icon">add</mat-icon>
            </button>
        </div>

        <div class="nav-buttons">
            <navigation-button icon="home" label="Home" link="/app/home"/>
            <navigation-button icon="rule" label="Missed" link="/app/settings"/>
            <navigation-button icon="calendar_today" label="Calendar" link="/app/settings"/>
            <navigation-button icon="settings" label="Settings" link="/app/settings"/>
            <navigation-button
                    (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })"
                    icon="logout"
                    label="Logout"
            />
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            @if (isHandset$ | async) {
                <button type="button" mat-icon-button (click)="drawer.toggle()" aria-label="Toggle sidenav">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
            }
            <span>mat-toolbar</span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
