/* You can add global styles to this file, and also import other style files */

// MATERIAL
@use "@angular/material" as mat;
@use "themes/m3-theme";

@include mat.core();

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

// ICONS
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Symbols+Outlined|Material+Symbols+Rounded|");
.material-icons {
    font-family: "Material Symbols Outlined", sans-serif;
    
    font-variation-settings: "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 20;
}


html {
    $theme: m3-theme.$light-theme;
    //@media (prefers-color-scheme: dark) {
    //    $theme: m3-theme.$dark-theme;
    //}
    
    // Apply the light theme by default
    // @include mat.all-component-themes($theme); // remove since this imports all styles
    // Optimized theme imports
    @include mat.core-theme($theme);
    @include mat.sidenav-theme($theme);
    @include mat.toolbar-theme($theme);
    @include mat.tooltip-theme($theme);
    @include mat.button-theme($theme);
    @include mat.button-toggle-theme($theme);
    @include mat.fab-theme($theme);
    @include mat.icon-theme($theme);
    @include mat.icon-button-theme($theme);
    @include mat.list-theme($theme);
    @include mat.grid-list-theme($theme);
    @include mat.divider-theme($theme);
    @include mat.dialog-theme($theme);
    @include mat.chips-theme($theme);
    @include mat.card-theme($theme);
    @include mat.menu-theme($theme);
    @include mat.progress-bar-theme($theme);
    @include mat.progress-spinner-theme($theme);
    @include mat.form-field-theme($theme);
    @include mat.expansion-theme($theme);
    @include mat.snack-bar-theme($theme);
    @include mat.slide-toggle-theme($theme);
    
    // maybe override menu colors
    //$color: mat.get-theme-color(m3-theme.$light-theme, surface);
    //@include mat.menu-overrides($tokens: (
    //    container-color: $color,
    //
    //));

    // When using system variables, remember to provide values for them
    // or uncomment the lines below to generate them from the theme.
    // @include mat.system-level-colors(theme.$light-theme);
    // @include mat.system-level-typography(theme.$light-theme);
}

html,
body {
    height: 100%;
}

body {
    font-family: Roboto Flex,
    "Helvetica Neue",
    sans-serif;
    margin: 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
}
