/* You can add global styles to this file, and also import other style files */

// MATERIAL
@use "@angular/material" as mat;
@use "themes/m3-theme";

@include mat.core();

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

// ICONS
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html {
    // Apply the light theme by default
    // @include mat.all-component-themes(theme.$light-theme); // remove since this imports all styles
    // Optimized theme imports
    @include mat.core-theme(m3-theme.$light-theme);
    @include mat.sidenav-theme(m3-theme.$light-theme);
    @include mat.toolbar-theme(m3-theme.$light-theme);
    @include mat.button-theme(m3-theme.$light-theme);
    @include mat.icon-theme(m3-theme.$light-theme);
    @include mat.icon-button-theme(m3-theme.$light-theme);
    @include mat.fab-theme(m3-theme.$light-theme);
    @include mat.list-theme(m3-theme.$light-theme);
    
    //@media (prefers-color-scheme: dark) {
    //    // Use the `-color` mixins to only apply color styles without reapplying the same
    //    @include mat.core-color(m3-theme.$dark-theme);
    //    @include mat.sidenav-color(m3-theme.$dark-theme);
    //    @include mat.toolbar-color(m3-theme.$dark-theme);
    //    @include mat.button-color(m3-theme.$dark-theme);
    //    @include mat.icon-color(m3-theme.$dark-theme);
    //    @include mat.icon-button-color(m3-theme.$dark-theme);
    //    @include mat.fab-color(m3-theme.$dark-theme);
    //    @include mat.list-color(m3-theme.$dark-theme);
    //}

    // When using system variables, remember to provide values for them
    // or uncomment the lines below to generate them from the theme.
    // @include mat.system-level-colors(theme.$light-theme);
    // @include mat.system-level-typography(theme.$light-theme);
}

html,
body {
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
}
