@if (habit().completions.length === 0) {
    <p>No completions yet.</p>
} @else {
    <div class="stat-grid">
        <stat-card [value]="stats().currentCompletions" label="Current Completions" icon="check_circle"></stat-card>
        <stat-card
                [value]="(stats().lastCompletion | date: 'dd.MM.YY HH:mm') ?? ''"
                label="Last Completion"
                icon="schedule"
        ></stat-card>
        <stat-card [value]="stats().totalPeriods" label="Periods Tracked" icon="calendar_today"></stat-card>
        <stat-card [value]="stats().averagePeriod" label="Average per Period" icon="avg_time"></stat-card>
        <stat-card [value]="stats().total" label="Total Completions" icon="done_all"></stat-card>
    </div>
}
