@use "@angular/material" as mat;
@use "../../../themes/m3-theme";

$theme: m3-theme.$light-theme;
@media (prefers-color-scheme: dark) {
    $theme: m3-theme.$dark-theme;
}

$gap: 16px;
$header-color: mat.get-theme-color($theme, "surface-tint");

:host {
    display: block;
    overflow-x: auto;
    padding: 1px;
}

td,
th {
    border: 1px solid #ddd;
    padding: 4px;
}

th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: $header-color;
    color: white;
}

.stat-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 8px;
    padding: $gap 0;
}