@use "@angular/material" as mat;
@use "../../../themes/m3-theme";

$gap: 16px;

:host {
    width: 100%;
}

.habit-card {
    overflow: hidden;

    &__title {
        max-width: 230px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__footer {
        padding: $gap;
    }
    
    .complete-checkmark {
        @include mat.icon-color(m3-theme.$light-theme, $color-variant: primary);
    }
}

habit-history-compact {
    bottom: calc($gap + 6px);
    display: block;
    left: $gap;
    position: absolute;
}
