@use "@angular/material" as mat;
@use "../../../themes/m3-theme";

:host {
    width: 100%;
}

.habit-card {
    overflow: hidden;
    
    &__footer {
        padding: 16px;
    }
    
    .complete-checkmark {
        @include mat.icon-color(m3-theme.$light-theme, $color-variant: primary);
    }
}
