.history-wrapper {
    display: inline-flex;
    flex-direction: row-reverse;

    .completion {
        border-radius: 10px / 5px; /* Creates an ellipse-like shape */
        display: inline-block;
        height: 12px;
        margin-right: 5px;
        width: 12px;
    }
}
