@use "@angular/material" as mat;
@use "../../themes/m3-theme";

$theme: m3-theme.$light-theme;
@media (prefers-color-scheme: dark) {
    $theme: m3-theme.$dark-theme;
}

$gap: 16px;

mat-divider {
    margin-left: $gap;
    @include mat.divider-overrides(
        $tokens: (
            color: grey
        )
    );
}

mat-chip {
    cursor: pointer;
    margin-right: $gap;
}

filter-bar {
    padding: $gap;
}

.empty-state {
    align-self: center;
    text-align: center;
}

.loading {
    align-self: center;
    text-align: center;
    display: flex;
    align-items: center;
    gap: $gap;
}

mat-progress-bar {
    position: absolute;
    top: 0;
}

.habit-group {
    margin: $gap;
    
    &__grid {
        display: grid;
        gap: $gap;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

.link {
    color: mat.get-theme-color($theme, "primary");
    cursor: pointer;
}
