<div class="content-container">
    <!--    <habit-entry></habit-entry>-->
    <!--    <mat-divider></mat-divider>-->
    <!--    <habit-entry></habit-entry>-->

    <div class="wip_topbar">
        <!-- Main Filters Chip -->
        <mat-chip (click)="filtersOpen.set(true)">
            Filters
        </mat-chip>


        <!-- Hidden Filter Section -->
        <div *ngIf="filtersOpen()" class="filter-chips-container">
            <h4>Frequency</h4>
            <mat-chip-listbox aria-label="Select frequency" multiple>
                <mat-chip-option>Daily</mat-chip-option>
                <mat-chip-option>Weekly</mat-chip-option>
                <mat-chip-option>Monthly</mat-chip-option>
                <mat-chip-option>Finite</mat-chip-option>
            </mat-chip-listbox>
        </div>
    </div>

    <div class="habit-group">
        <h3 mat-subheader>Daily</h3>

        <mat-grid-list [cols]="numCols()" gutterSize="16" rowHeight="2:1" style="margin: 16px">
            @for (habit of habitGroups().daily; track habit.id) {
                <mat-grid-tile>
                    <habit-card [id]="habit.id" [title]="habit.name"></habit-card>
                </mat-grid-tile>
            }
        </mat-grid-list>
    </div>

    <!--        <mat-grid-list [cols]="numCols()" gutterSize="16" style="margin: 16px" rowHeight="2:1">-->
    <!--            @for (habit of habits(); track habit.id) {-->
    <!--                <mat-grid-tile>-->
    <!--                    <habit-card [title]="habit.name"></habit-card>-->
    <!--                </mat-grid-tile>-->
    <!--            }-->
    <!--        </mat-grid-list>-->

    <mat-list>
        <habit-entry></habit-entry>
        <mat-divider></mat-divider>
        <habit-entry></habit-entry>
        <mat-divider></mat-divider>

        <mat-list-item [lines]="3">
            <div class="title" matListItemTitle>Title</div>
            <div class="description" matListItemLine>asdasdas</div>
            <div matListItemLine>12.12.22023 32.13.223</div>
            <span matListItemMeta>
                <button mat-icon-button>
                    <mat-icon>info</mat-icon>
                </button>
            </span>
        </mat-list-item>
    </mat-list>
</div>
