@use "@angular/material" as mat;

mat-divider {
    margin-left: 16px;
    @include mat.divider-overrides(
        $tokens: (
            color: grey
        )
    );
}

.filter-bar {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 16px;
    
    .filter-chips-container {
        width: 100%;
    }
}

mat-chip {
    cursor: pointer;
    margin-right: 16px;
}

.filter-panel {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 8px;
    padding: 16px;
}