@use "@angular/material" as mat;

$gap: 16px;

mat-divider {
    margin-left: $gap;
    @include mat.divider-overrides(
        $tokens: (
            color: grey
        )
    );
}

mat-chip {
    cursor: pointer;
    margin-right: $gap;
}

filter-bar {
    padding: $gap;
}

.empty-state {
    align-self: center;
}