<div class="content-container">
    <!--    <habit-entry></habit-entry>-->
    <!--    <mat-divider></mat-divider>-->
    <!--    <habit-entry></habit-entry>-->

    <filter-bar></filter-bar>

    @if (isLoading()) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <div class="loading">loading habits...</div>
    } @else {
        @for (habitGroup of filteredHabits() | groupBy: "frequency" | sortByFrequency; track $index) {
            <div class="habit-group">
                <h3 mat-subheader>{{ habitGroup.key }}</h3>

                <div class="habit-group__grid">
                    @for (habit of habitGroup.value; track habit.id) {
                        <habit-card [habit]="habit"></habit-card>
                    }
                </div>
            </div>
        } @empty {
            @if (hasInitFailed()) {
                <div class="empty-state">
                    <h4>Failed to load habits</h4>
                    <p>Something went wrong while loading habits</p>
                    <span class="link" (click)="refreshPage()">Try refreshing the page</span>
                </div>
            } @else {
                <div class="empty-state">
                    <h4>No habits found</h4>
                    <p>Add a new habit to get started</p>
                    <p>or let me generate some habits to get started quickly</p>
                    <button mat-button (click)="addDemoHabits()">Add Demo Habits for me</button>
                </div>
            }
        }
    }

    <!--        <mat-grid-list [cols]="numCols()" gutterSize="16" style="margin: 16px" rowHeight="2:1">-->
    <!--            @for (habit of habits(); track habit.id) {-->
    <!--                <mat-grid-tile>-->
    <!--                    <habit-card [title]="habit.name"></habit-card>-->
    <!--                </mat-grid-tile>-->
    <!--            }-->
    <!--        </mat-grid-list>-->

    <!--    LIST View-->
    <!--    <mat-list>-->
    <!--        <habit-entry></habit-entry>-->
    <!--        <mat-divider></mat-divider>-->
    <!--        <habit-entry></habit-entry>-->
    <!--        <mat-divider></mat-divider>-->

    <!--        <mat-list-item [lines]="3">-->
    <!--            <div class="title" matListItemTitle>Title</div>-->
    <!--            <div class="description" matListItemLine>asdasdas</div>-->
    <!--            <div matListItemLine>12.12.22023 32.13.223</div>-->
    <!--            <span matListItemMeta>-->
    <!--                <button mat-icon-button>-->
    <!--                    <mat-icon>info</mat-icon>-->
    <!--                </button>-->
    <!--            </span>-->
    <!--        </mat-list-item>-->
    <!--    </mat-list>-->
</div>
