@use "@angular/material" as mat;
@use "../../../themes/m3-theme";

$theme: m3-theme.$light-theme;

$stat-label-font: mat.get-theme-typography($theme, title-small, $property: font);

mat-card-title {
    color: var(--habit-stat-title-color);
}

mat-card-subtitle {
    font: $stat-label-font;
    opacity: 0.6;
    font-weight: 300;
}

mat-icon {
    font-size: 36px;
}
