<section class="habit-form-section">
    <h3>New Habit</h3>
    <form (ngSubmit)="createHabit()" [formGroup]="habitForm">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input autocomplete="off" data-form-type="other" formControlName="name" matInput/>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input autocomplete="off" formControlName="description" matInput/>
        </mat-form-field>

        <div class="habit-frequency">
            <mat-button-toggle-group aria-label="Frequency" formControlName="frequency">
                <mat-button-toggle value="daily">Daily</mat-button-toggle>
                <mat-button-toggle value="weekly">Weekly</mat-button-toggle>
                <mat-button-toggle value="monthly">Monthly</mat-button-toggle>
                <mat-button-toggle value="finite">Finite</mat-button-toggle>
            </mat-button-toggle-group>

            <p class="form-hint">Frequency of the habit</p>
        </div>

        <div class="habit-target-metric" formGroupName="targetMetric">
            <div class="habit-target-metric__type">
                <mat-button-toggle-group aria-label="Target Metric Type" formControlName="type">
                    <mat-button-toggle value="quantity">Quantity</mat-button-toggle>
                    <mat-button-toggle value="duration">Duration</mat-button-toggle>
                </mat-button-toggle-group>
                <p class="form-hint">The target of your habit</p>
            </div>

            <div class="habit-target-metric__goal">
                <mat-form-field appearance="outline" aria-label="Target Metric Goal">
                    <mat-label>Goal</mat-label>
                    <input formControlName="goal" matInput type="number"/>
                </mat-form-field>

                <mat-form-field appearance="outline" aria-label="Target Metric Unit">
                    <mat-label>Unit</mat-label>
                    <input autocomplete="off" data-form-type="other" formControlName="unit" matInput/>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>A unit like 8 <b>glasses</b> of water</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="habit-type">
            <mat-button-toggle-group aria-label="Type" formControlName="type">
                <mat-button-toggle value="good">Good</mat-button-toggle>
                <mat-button-toggle value="bad">Bad</mat-button-toggle>
            </mat-button-toggle-group>
            <p class="form-hint">If a habit should be created to start or stop doing a thing</p>
        </div>

        <button [disabled]="!habitForm.valid" mat-flat-button type="submit">Create</button>
    </form>
    <p class="form-hint">Form Status: {{ habitForm.value | json }}</p>
</section>
