$today-highlight-color: #b81bfb;
$cell-gap: 3px;

:host {
    display: block;
    overflow-x: auto;
    padding: 1px;
}

.calendar-grid {
    display: grid;
    grid-auto-rows: auto;

    font-size: 8px;
    font-weight: bold;
}

.weekdays-row {
    display: flex;
    align-items: center;
    gap: $cell-gap;
    margin-bottom: $cell-gap;

    .weekday-label {
        width: 25px;
        position: sticky;
        left: 0;
    }
}

.period-cell {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 10px / 5px;

    width: 12px;
    height: 12px;
    background-color: #f0f0f0;
    
    
    &.current {
        border: 1px solid $today-highlight-color;
        margin: -1px;
    }
}
