<div class="calendar-grid" #calendarGrid>

    <!-- Month labels row -->
    <div class="month-labels-row">
        @for (weekDay of calendarData(); let weekdayIndex = $index; track weekdayIndex) {
            @if (weekdayIndex === 0 || weekDay[0]?.date?.getMonth() !== calendarData()[weekdayIndex - 1][0]?.date?.getMonth()) {
                <div class="month-label">{{ weekDay[0]?.date | date: 'MMMM' }}</div>
            } @else {
                <div class="month-label"></div>
            }

        }
    </div>

    @for (weekDay of weekdays(); let weekdayIndex = $index; track weekdayIndex) {
        <div class="weekdays-row">
            <div class="weekday-label">{{ weekDay }}</div>

            @if (habit().frequency === "daily") {
                <!-- Loop over each week to extract the day corresponding to the current weekday -->
                @for (week of calendarData(); track $index) {
                    @let day = week[weekdayIndex] ;
                    @if (day) {
                        <div
                                class="period-cell"
                                [style.background-color]="day.color"
                                [class.current]="day.current"
                                [matTooltip]="day.tooltip"
                        ></div>
                    } @else {
                        <div class="period-cell empty"></div>
                    }
                }
            } @else {
                @for (period of yearData(); track period.period) {
                    <div
                            class="period-cell"
                            [class.current]="period.current"
                            [matTooltip]="period.tooltip"
                            [style.background-color]="period.color"
                    ></div>
                }
            }
        </div>
    }

    <div class="explanation">

        Less
        @for (explanation of explanations(); let index = $index; track index) {
            <div class="period-cell" [style.background-color]="explanation.color"></div>
        }
        More
    </div>
</div>