@use "@angular/material" as mat;
@use "../../../../themes/m3-theme";

$theme: m3-theme.$light-theme;


$today-highlight-color: #b81bfb;
$cell-gap: 2px;


$label-font-size: mat.get-theme-typography($theme, label-small, $property: font-size);
$label-font-weight: mat.get-theme-typography($theme, label-small, $property: font-weight);

:host {
    display: block;
    overflow-x: auto;
    padding: 1px;
}

.calendar-grid {
    display: grid;
    grid-auto-rows: auto;
    
    font-size: $label-font-size;
    font-weight: $label-font-weight;
}

.weekdays-row {
    display: flex;
    align-items: center;
    gap: $cell-gap;
    margin-bottom: $cell-gap;

    .weekday-label {
        width: 25px;
        position: sticky;
        left: 0;
    }
}

.month-labels-row {
    display: flex;
    align-items: center;
    gap: $cell-gap;
    margin-bottom: $cell-gap;

    //Empty cell for alignment with weekdays
    padding-left: 28px;
    
    .month-label {
        width: 12px;
    }
}

.period-cell {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 10px / 5px;

    width: 12px;
    height: 12px;
    background-color: transparent;
    
    &.current {
        border: 1px solid $today-highlight-color;
        margin: -1px;
    }
}

.explanation {
    display: inline-flex;
    align-items: center;
    padding-left: 30px;
    
    .period-cell {
        margin-right: $cell-gap;
        
        &:first-child {
            margin-left: $cell-gap;
        }
    }
}
