$gap: 16px;

.habit-form-section {
    display: flex;
    flex-direction: column;
    
    .form-hint {
        font-size: var(--mat-form-field-subscript-text-size, var(--mat-app-body-small-size));
        -webkit-font-smoothing: antialiased;
        font-weight: var(--mat-form-field-subscript-text-weight, var(--mat-app-body-small-weight));
        letter-spacing: var(--mat-form-field-subscript-text-tracking, var(--mat-app-body-small-tracking));
        line-height: var(--mat-form-field-subscript-text-line-height, var(--mat-app-body-small-line-height));
        margin-top: 8px;
        padding: 0 $gap;
    }
    
    form {
        display: flex;
        flex-direction: column;
        gap: $gap;
        
        .habit-target-metric {
            display: flex;
            flex-direction: column;
            gap: $gap;
            
            &__type {
                align-self: flex-start;
            }
            
            &__goal {
                display: flex;
                gap: $gap;
            }
        }
    }
    
    .full-width {
        width: 100%;
    }
}
