@use "@angular/material" as mat;
@use "../../../themes/m3-theme";
$theme: m3-theme.$light-theme;

$nav-button-label-font: mat.get-theme-typography($theme, label-medium, "font");
$nav-button-label-active-font-weight: bold;

a {
    display: block;
    text-decoration: none;
}

.nav-button {
    align-items: center;
    color: var(--nav-button-color);
    display: flex;
    flex-direction: column;

    margin-bottom: 14px;
    
    transition: font-variation-settings 3s ease; /* Smooth transition */
    
    button {
        &[mat-button] {
            color: inherit;
            height: 32px;

            mat-icon {
                margin: 0;
            }
        }
    }
    
    .label {
        font: $nav-button-label-font;
        margin: 4px 0;
    }
    
    &.active {
        button {
            background-color: var(--nav-button-background-active);
        }
        
        .label {
            font-variation-settings: "wght" 600;
        }
    }
    
    &:hover {
        .label {
            font-variation-settings: "wght" 600;
        }
    }
}
